################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS1Programs1/.vs/CS1Programs1/v15
/Sorting/.vs/Sorting/v15
/Sorting/Debug
